[Unit]
Description=pianka service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=username
ExecStart=/home/username/pianka/startup.sh 

[Install]
WantedBy=multi-user.target